<div id="page-name">
 <h1>SIGNERS
    <br>
    LIST</h1>
</div> 
<div id="info-block">
  <h2>Look at all people who think the same way and signed this partition</h2>
  <br>
   <h3> And the total number of signers is  {{totalNumber}} </h3>   
   <br><br>
   {{!-- <h1> I am <span id="changingWord"></span></h1> --}}
<ol>
    {{#allSigners}}
    <li>
    {{first}} {{last}} 
     {{#if age}} | {{age}} {{/if}}
    {{#if city}} | <a href="/signers/{{city}}"> {{city}}</a> {{/if}}
      {{#if homepage}} | <a href="{{homepage}}">{{homepage}}</a>  {{/if}} 
    </li>
    {{/allSigners}}
</ol>

</div>