<div id="page-name">
 <h1>BY 
    <br>
    CITY</h1>
</div> 
<div id="info-block">
<h2>People from {{city}}: </h2>
  <br>
<ol>
    {{#allSigners}}
    <li>
    {{first}} {{last}} 
     {{#if age}} | {{age}} {{/if}}
    {{#if city}} | <a href=""> {{city}}</a> {{/if}}
      {{#if homepage}} | <a href="{{homepage}}">{{homepage}}</a>  {{/if}} 
    </li>
    {{/allSigners}}
</ol>

</div>