<div id="signersByCityBlock">
<h1>People from {{city}}: </h1>
  
<ol>
    {{#allSigners}}
    <li>
    {{first}} {{last}} 
     {{#if age}} | {{age}} {{/if}}
    {{#if city}} | <a href=""> {{city}}</a> {{/if}}
      {{#if homepage}} | <a href="{{homepage}}">{{homepage}}</a>  {{/if}} 
    </li>
    {{/allSigners}}
</ol>

</div>